
<ion-view class="">
<div  class="modal">
  <ion-header-bar>
    <h1 class="title">Endereço</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-close-circled"></i></button>
    </div>
  </ion-header-bar>
  <ion-content >

   <div class="list">
            <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-location"></i><p>Endereço: Rua José Meira Leite nº 333 Bairro </p>
            </a>
             <a class="item item-icon-left" href="#">
        <i class="icon ion-map"></i><p>Bairro: Nobre </p>
            </a>
            <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-navigate"></i><p>Cidade: Brumado </p>
            </a>
             <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i><p>Telefone: 77 34414400 </p>
            </a>


       
       <a class="item item-icon-left item-button-right" href="#">
         <i class="icon ion-email"></i>contato@inebmed.com.br </a>
         <a class="item item-icon-left item-button-right" href="#">
         <i class="icon ion-at"></i>www.inebmed.com.br </a>




    </div>
   
  </ion-content>
</div>

</ion-view>