<ion-content  >

  <div >



    <div align="" style="padding: 10px; margin-left: 80%;" ><a href="#/app/start"><i style="font-size: 30px; color: gray" class=" big ion ion-close"></i></a></div>
    <div  ng-controller="getEspecialistaone">



     <div align="center">  <img style="margin-top: 10px; width: 200px; height: 200px" class="img-circle img-responsive" src="{{url+dadosuser.imgtumb}}"></div>
     <div style="padding: 10%; margin-top: 0px;">

      <div align="center"> 
        <h4>{{dadosuser.nome}}</h4>
        <span class=" small balanced">{{dadosuser.email}}</span>
        <br><span class="small balanced">{{dadosuser.telefone}}</span>

      </div> 

    </div>



  </div>
</div>



</ion-content>