<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Notícias">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- Media section (Picture, Video, Map, etc) -->
    <div class="news-media">
      <!-- Image 100% width -->
      <img src="http://producoesnaweb.com.br/uroday/uploads/noticia/16070083419_22847049df_b.jpg" alt="" class="fluid-image"> 

      <!-- Stats (Absolutely positioned right) -->
      

    <!-- News Item (With Poster and content text summary) -->
    <div class="news-item">
      <!-- Poster Thumb -->
      
      <!-- End Poster -->

      <!-- Content -->
     

        <h4>PRIMEIRO ATENDIMENTO É DECISIVO PARA A RECUPERAÇÃO DO PACIENTE</h4>
        <p style="text-align: justify;" >
O tempo de evolução do paciente e sua recuperação dependem do cuidado que ele recebe na emergência. A identificação precoce dos sintomas e o início rápido de intervenções específicas favorecem os desfechos clínicos. É esse entendimento que a equipe do Hospital Cárdio Pulmonar (CP) quer multiplicar entre a comunidade médica de Salvador. Com esse objetivo, será realizado, nos dias 18 e 19 de março, o I Simpósio de Urgências e Emergências Clínicas do Cárdio Pulmonar.


“Hoje, a medicina tem um foco na qualidade do atendimento. A emergência é a porta de entrada do hospital, por onde se recebe a maioria dos pacientes. Isso exige do médico maior agilidade e diagnóstico preciso para que trabalhe dentro das melhores evidências e atinja os melhores resultados”, destacou o cardiologista Luiz Ritt, um dos organizadores do simpósio.


O especialista conta que no Cárdio Pulmonar o setor de emergência está sob a mesma gestão do setor de UTI para que haja uma maior integração das equipes. “O simpósio engloba as áreas que têm maior representação no atendimento de emergência”, destacou Ritt.


O curso é destinado a médicos, residentes e estudantes de Medicina do 5º e 6º anos que desejem se aprofundar no manejo de pacientes críticos nas áreas de Cardiologia, Pneumologia, Gastroenterologia, Neurologia e Sepse/choque séptico.


Outro tema que será debatido é a emergência hospitalar como uma especialidade médica. “Temos que buscar essa valorização para que a emergência seja reconhecida como uma especialidade, pois requer do médico habilidades muito inerentes a essa função e tem uma importância fundamental para a pronta recuperação do paciente”, analisou o especialista.</p>

 

        <!-- Stat Section (Absolutely Positioned Right) Version 1-->
        <div class="other-stats">
          <button class="button button-balanced button-borderless button-small"><i class="ion-heart"></i> 82</button>
          <button class="button button-stable button-outline button-small"><i class="ion-heart"></i> 82</button>
        </div>
        <!-- End Stat Section -->

        <!-- Stat Section (With Date) -->
        <div class="gem-tiny-text news-item-stats">
          <i class="icon ion-clock"></i> 2 days ago
          <span class="news-comment-summary">
            <i class="icon ion-heart"></i> 2 
            <i class="icon ion-chatbubble"></i> 3
          </span>
        </div>
        <!-- Stat Section -->

      </div>
      <!-- End Content -->

      <!-- Mock trigger button for action sheet for this post -->
      <div class="news-more-action">
        <i class="icon ion-more"></i>
      </div>
      <!-- End Button -->

    </div>
    <!-- End News Item -->

    <!-- News Item (For Album Art, Artist Name and Player) -->
    <div class="news-media">

      <!-- Album Art -->
      <div class="image">
        <!-- Fluid image -->
        <img src="img/gemionic/news-image.jpg" alt="" class="fluid-image">
        <!-- Social Stats (Absolutely Positioned Right) -->
        <div class="media-social-stats">
          <button class="button button-borderless button-small button-assertive">
            <i class="ion-heart"></i> 3440
          </button>
        </div>
      </div>
      <!-- End Album Art -->

      <!-- Media description (can be used for album artist name and action) -->
      <div class="news-media-info">
        <!-- Thumb (Absolute Positioning, fixed width) -->
        <div class="thumb">
          <img src="img/gemionic/sqr-box.jpg" alt="" class="img">
        </div>

        <!-- Text (static, margin-left shifts out of thumb's way ) -->
        <div class="text">
          <h3 class="title">Daft Punk</h3>
          <h5 class="subtitle">Discovery</h5>
        </div>

        <!-- further action (absolute position right for further action trigger) -->
        <div class="media-action">
          <i class="icon ion-play"></i>
        </div>
      </div>
      <!-- End Media Description -->
    </div>
  </ion-content>
</ion-view>
